* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f1f3f6;
}

/* COMMON */
.container {
  max-width: 1240px;
  margin: auto;
}

/* HEADER */
.top-header {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.header-flex {
  display: flex;
  align-items: center;
  padding: 12px 0;
  gap: 30px;
}

.logo img {
  width: 75px;
}

.logo span {
  display: block;
  font-size: 12px;
  color: #555;
}

.logo b {
  color: #2874f0;
}

.search-box {
  flex: 1;
  display: flex;
  background: #f0f5ff;
  border-radius: 8px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 12px;
  outline: none;
}

.search-box button {
  border: none;
  background: transparent;
  padding: 0 15px;
  cursor: pointer;
  font-size: 16px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 500;
}

.login {
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.cart, .seller {
  cursor: pointer;
}

/* CATEGORY BAR */
.categories {
  background: #fff;
  margin-top: 10px;
}

.category-row {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
}

.cat {
  text-align: center;
  cursor: pointer;
}

.cat img {
  width: 64px;
}

.cat p {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
}

.cat:hover p {
  color: #2874f0;
}
/* HERO BANNER */
.hero {
  margin: 15px 0;
}

.hero-box img {
  width: 100%;
  border-radius: 6px;
}

/* DEALS SECTION */
.deals {
  margin-top: 15px;
}

.deals-box {
  background: #fff;
  padding: 20px;
}

.deals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.deals-header h2 {
  font-size: 20px;
  font-weight: 600;
}

.deals-header button {
  background: #2874f0;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.deal-products {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.deal-products::-webkit-scrollbar {
  display: none;
}

.deal-card {
  min-width: 200px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.deal-card img {
  height: 180px;
  object-fit: contain;
}

.deal-card h4 {
  font-size: 14px;
  margin: 10px 0 5px;
}

.deal-card p {
  color: #388e3c;
  font-weight: 500;
}

.deal-card:hover {
  transform: scale(1.03);
}

